:root {
    --redRest: rgb(131, 0, 0);
    --redOn: rgb(255, 0, 0);
    --greenRest: rgb(0, 100, 0);
    --greenOn: rgb(0, 200, 0);
    --blueRest: rgb(0, 0, 126);
    --blueOn: rgb(0, 0, 255);
    --yellowRest: rgb(167, 167, 0);
    --yellowOn: yellow;
    --backgroundColor: #9C8E44;
    --backgroundColorLight: #e7ecda;
    --borderColor: #243B4A;
    --backgroundColorBtn: #e2dab5;
    --hoverColorBtn: #e4d490;
    --borderColorSegments: #243B4A;
}

html {
    box-sizing: border-box;
    font-family: 'Bubbler One', sans-serif;
    font-size: 16px;
    max-width: 100vw;

}

*, *::before, *::after {
    box-sizing:inherit;
}

body {
    margin:0;
    background-color: var(--backgroundColorLight);
    width: 100%;
}

.page-wrapper {
    width: 90vw;
    margin: 0 auto;
}

header {
    background-color: var(--backgroundColor);
    margin: 0;
    width: 100%;
    height: 8rem;
}

.header-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.logo-container {
    height: 6.5rem;
}

.logo {
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border: 2px solid var(--borderColor);

}

footer {
    background-color: var(--backgroundColor);
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-wrapper p {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.text-div h2 {
    font-weight: bold;
    font-size: 2rem;
}

.text-div p {
    font-size: 1.8rem;
}

.scoreboard-flex-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.scoreboard-sub-container {
    border: 2px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 0 0 4px 0 var(--borderColor);
    padding: 1rem;
    width: 16rem;
    text-align: center;
}


.btn-div {
    display: flex;
    justify-content: center;
}

.btn {
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    padding: .5rem 2rem;
    background-color: var(--backgroundColorBtn);
    cursor: pointer;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: var(--hoverColorBtn);
}

.scoreboard p {
    display: inline-block;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.help-msg-div {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 1.2rem;
    font-size: 1.4rem;
    white-space: pre-wrap;
}

.app {
    display: block;
    padding: 0;
    margin: 5rem auto;
}

.segments-flex-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.segments-container {
    display: grid;
    margin: 0;
    width: 40vmax;
    height: 40vmax;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
    transform: rotate(45deg);    
}

.segments {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.top-red-segment {
    background-color: var(--redRest);
    border-top-left-radius: 100%;
    border-top: 4px solid var(--borderColorSegments);
    border-right: 2px solid var(--borderColorSegments);
    border-bottom: 2px solid var(--borderColorSegments);
    border-left: 4px solid var(--borderColorSegments);
}

.right-green-segment {
    background-color: var(--greenRest);
    border-top-right-radius: 100%;
    border-top: 4px solid var(--borderColorSegments);
    border-right: 4px solid var(--borderColorSegments);
    border-bottom: 2px solid var(--borderColorSegments);
    border-left: 2px solid var(--borderColorSegments);
}

.left-yellow-segment {
    background-color: var(--yellowRest);
    border-bottom-left-radius: 100%;
    border-top: 2px solid var(--borderColorSegments);
    border-right: 2px solid var(--borderColorSegments);
    border-bottom: 4px solid var(--borderColorSegments);
    border-left: 4px solid var(--borderColorSegments);
}

.bottom-blue-segment {
    background-color: var(--blueRest);
    border-bottom-right-radius: 100%;
    border-top: 2px solid var(--borderColorSegments);
    border-right: 4px solid var(--borderColorSegments);
    border-bottom: 4px solid var(--borderColorSegments);
    border-left: 2px solid var(--borderColorSegments);
}

.top-red-segment-on {
    background-color: var(--redOn);
}

.right-green-segment-on {
    background-color: var(--greenOn);
}

.left-yellow-segment-on {
    background-color: var(--yellowOn);
}

.bottom-blue-segment-on {
    background-color: var(--blueOn);
}

@media screen and (min-width: 1000px) {
    .segments-container {
        width: 30vw;
        height: 30vw;
    }
}

@media screen and (min-width: 1600px) {
    .segments-container {
        width: 25vw;
        height: 25vw;
    }
}